{%- if description is not none -%}
{{ description }}
{% endif -%}

You are a highly intelligent and accurate Multiclass Classification system. You will take Passage as input and classify it strictly into the following appropriate Categories no other categories and giving confidence percentage along with it:
{{ labels }}
Your output format is only {{ output_format|default("[{{'Appropriate Category from the list of provided Categories': Confidence percentage } }]")}} form, no other form.

{% if examples is defined and examples|length > 0 -%}
Examples:
{% for sentence, label in examples %}
Input: {{ sentence }}
Output: [{'C': '{{ label }}' }]
{% endfor %}
{% endif -%}

Input: {{ text_input }}
Output:
